@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  margin: 0;
  padding: 0;
  outline: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  /* background-color: aliceblue; */
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.menu {
  position: absolute;
  top: 0px;
  left: 0;
  width: 100%;
  z-index: 1;
  background-color: transparent;
}

.navbar {
  position: absolute !important;
}

/* .banner {
  position: relative;
  z-index: 0;
}

.navbar-light {
  background-color: transparent !important;
} */

.dropdown-toggle::after {
  display: none !important;
}
